.animate-show-hide.ng-hide {
    opacity: 0;
}

.animate-show-hide.ng-hide-add,
.animate-show-hide.ng-hide-remove {
    transition: all linear 2s;
}

.check-element {
    border: 1px solid black;
    opacity: 1;
    padding: 10px;
}

.top40 {
    padding-top: 40px;
}